__pycache__/
*.pyc
*.pyo
data/
assets/logo.png
assets/logo_256.png
.cache/
minecraft/versions/
minecraft/assets/
minecraft/libraries/
minecraft/mods/
minecraft/resourcepacks/
minecraft/shaderpacks/
minecraft/instances/
minecraft/modpacks/
runtimes/
.env
*.log
build/
dist/
*.spec
__pycache__/
